*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  
}

.container{
    width: 100%;
    max-width: 650px;
    /* background: black; */
    padding: 30px;
    margin: 0;
}
.head{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    /* color: white; */
    border-bottom: solid 1px red;
}

.main_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    
}



.user_box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.user_box label{
    width: 95%;
    /* color: white; */
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.user_box input{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid rgb(2, 227, 54);
    padding: 0 10px;
}


.gender-category{
    margin: 15px 0;
    /* color: white; */
    padding: 0 20px 0 ;
}

.textarea{
    width: 100%;
    height: 0;
    border: 1px solid;
    outline: none;
    padding:  10px;
}

button{
    background: dodgerblue;
    width: 100px;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 20px;
    margin: 20px;
    font-size: 20px;
    

}
.clicl{
    display: flex;
    flex-wrap: wrap;
    color: dodgerblue;

}

.search
{
    width: 50%;
    margin: auto;
    background: rgb(44, 126, 194);
}
.search input{
    width: 75%;
    border: 2px solid white;
    border-right: 0px;
    font-size: 18px;
    padding: 12px;
    background: transparent;
    color: aliceblue;

}

.search button{
    width: 25%;
    background: #eee;
    color: black;
    float: right;
    

}